<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini whatsApp</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h3>All chats!</h3>
    <form method="GET" action="/chats/new">
        <button>New Chat</button>
    </form>
    <br />
    <% for (let chat of chats) {%>
        <div class="chat">
            <p>From: <i><%=chat.from%></i></p>
            <div class="msg">
                <p><%= chat.msg%></p>
                <div class="buttons">
                    <form method="GET" action="/chats/<%=chat._id%>/edit">
                        <button>Edit</button>
                    </form>
                    &nbsp;&nbsp;
                    <span>
                        <form method="POST" action="/chats/<%=chat._id%>?_method=DELETE">
                            <button>Delete</button>
                        </form>
                    </span>
                </div>     
            </div>
            <p><i>Received by <%= chat.to%></i></p>
            <hr />
            <p><%= chat.created_at.toString().split(" ")[4]%></p>
            <p><%= chat.created_at.toString().split(" ").slice(0,4).join("-")%></p>
        </div>
        <br /> <br />
    <%}%>
</body>
</html>